* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./img/bgPizza2.png) no-repeat center center/cover;  
}


#contenedor {
    display: flex;
    flex-wrap:wrap;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 80vw;
    max-width: 800px;
    border: solid 5px #000;
}

h1 {
    font-size: 3rem;
    width: 100%;
    margin: 20px 10px;
    text-align: center;
}

ul {
    width: 80%;
    height: 100%;
}

.topping {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 15px 0;
    border: solid 1px #000;
    color: #fff;
}

.fondo-marron {
    background-color: #aa5822;
}

.fondo-naranja {
    background-color: #FF7b0f;
}

#pagina {
    font-size: 2rem;
    width: 90%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #FF7b0f;
    color: #fff;
    border: solid 2px #000;
    margin: 20px 0;
}
/* clase añadida con js */
.texto-verde { 
    color: green;
}




